html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.video-background video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.audio-background {
  display: none;
}

.alphabet-home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.alphabet-title {
  background-color: #0b5488;
  border: 1rem solid #af701d;
  color: #fee527;
  font-weight: bold;
  font-size: 50px;
  border-radius: 40px;
  box-shadow: inset -5px -7px 3px rgba(32, 15, 0, 0.5),
              inset 5px 7px 3px rgba(232, 225, 216, 0.5);
  margin-bottom: 1rem;
}

.alphabet-button {
  width: 110px;
  margin: 8px;
  color: #fee527;
  font-size: 24px; 
  background-color: #af1d1d;
  border: none;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
  box-shadow: inset -5px -7px 3px rgba(32, 15, 0, 0.5),
              inset 5px 7px 3px rgba(232, 225, 216, 0.5);
  transition: transform 0.3s ease-in-out;
}

.alphabet-button:hover {
  transform: scale(1.1);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 16px;
  background-color: #edde92c7;
  padding: 1rem;
  border-radius: 20px;
  max-width: 100%;
  justify-items: center;
}


.card-back {
  width: 120px;
  height: 90px;
  border-radius: 40px;
  background-color: rgba(175, 112, 29, 1);
  box-shadow: inset -4px -7px 3px rgba(32, 15, 0, 0.5),
              inset 4px 7px 3px rgba(238, 195, 135, 0.5),
              5px 10px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  width: 100px;
  height: 70px;
  border-radius: 40px;
  background-color: rgba(25, 170, 158, 1);
  box-shadow: inset -5px -8px 3px rgba(16, 13, 106, 0.5),
              inset 5px 8px 3px rgba(232, 225, 216, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button a {
  text-decoration: none;
}

.back-button i {
  color: #fee527;
  font-size: 32px;
}

